<div class="col-md-4 bookCard">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{this.name}}</h4>
            <p class="card-text">{{this.description}}</p>
            <a href="/" class="btn btn-primary">About This Book</a>
        </div>
    </div>
</div>