<div class="col-md-4 bookCard">

    <h3 class="text-center">{{this.name}}</h3>
    <div class="card card-01">
        <!--<img class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">-->
        <div class="card-block">
            <span class="badge-box"><i class="fa fa-check"></i></span>
            <h4 class="card-title">Rs.<b>{{this.expectedRate}}</b></h4>
            <p class="card-text">{{this.description}}</p>
            <!--<a href="#" class="btn btn-default text-uppercase">Explore</a>-->
        </div>
    </div>
</div>