<div class="col-md-4 bookCard">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title"><strong>Name:</strong> {{this.name}}</h4>
            <p class="card-text"><strong>Description:</strong> {{this.description}}</p>
        </div>
    </div>
</div>