<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 myCols">
                <h5><a>About us</a></h5>

            </div>
            <div class="col-sm-3 myCols">
                <h5><a>Privacy</a></h5>
            </div>
            <div class="col-sm-3 myCols">
                <h5><a>FAQ's</a></h5>
            </div>
            <div class="col-sm-3 myCols">
                <h3>Made By AITIANS <span class="glyphicon glyphicon-heart"></span></h3>
            </div>
        </div>
    </div>



</footer>