<div class="header">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div id="logo" class="navbar-brand">
                <a class="navbar-brand" href="/"><img src="" alt="">
                BookSeller</a>
            </div>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Books <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">SELL</a></li>
                            <li><a href="#">BUY</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">SELL</a></li>
                            <li><a href="#">BUY</a></li>
                        </ul>
                    </li>
                    {{#if this.user}}
                        <li><a href="/logout">Logout</a></li>

                    {{else}}
                        <li><a href="/auth/facebook">SignUp</a></li>

                    {{/if}}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

</div>

<script>
    require(['common'], function (common) {
        // load application code for page
        require(['header'], function(header) {
            header.init();
            header.secondInit();
        });
    });
</script>