<div class="books-page">
    <section class="bg-white light-min-box-shadow vv col-xs-12 col-md-2 col-md-offset-3">
        <hr class="mar-16">
           <p>{{data.id}}

           </p>
    </section>
</div>
<script>
    //load common code
    require(['common','books'], function (common, books) {
        // load application code for page
        rhymes.init();
    });
</script>
