<ul class="nav nav-pills">
    <li class="active"><a href="?type=CSE">CSE</a></li>
    <li><a href="?type=ECE"  >ECE</a></li>
    <li><a href="?type=ECE" >CSE & ECE</a></li>
</ul>


<!--Main layout-->
    <div class="container">

           <div class="row" id="row">
               {{> repeater this}}
           </div>

    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js">
</script>
<script>

    function getBooks(e) {

        var type = getElementById('');
        axios.get('http://localhost:3000/books?'+type+'&')
                .then(function (response) {

                })
                .catch(function (error) {

                });

        e.preventDefault();
    }
</script>

