

<!--Main layout-->
    <div class="container" id="content">
        <ul class="nav nav-pills">
            <li class="active"><a href="?type=CSE" onclick="getBooks(e)">CSE</a></li>
            <li><a href="?type=ECE"  onclick="getBooks(e)">ECE</a></li>
            <li><a href="?type=CSE&ECE" onclick="getBooks(e)">CSE & ECE</a></li>
        </ul>

           <div class="row" id="row">
               {{> repeater this}}

           </div>
           <div class="row">
               <a id="loadmore" class="btn btn-block btn-primary" role="button" >Load More</a>

           </div>


    </div>

<script>
var count = 6 ;
    document.getElementById('loadmore').addEventListener('click', performGetRequest);
    function performGetRequest(e) {

          count += 6 ;
         //document.getElementById('loadmore').href = "?count="+count;
        fetch('?count='+count)
                .then(function(response) {
                   console.log(response);
                  document.getElementById('row').appendTo(response);
                 //   count=count+6;
                })
                .catch(function (error) {
                   console.log(error);
                });
        e.preventDefault();

    }

</script>

