<form class="form-horizontal" id="sellerform">
    <fieldset>

        <!-- Form Name -->
        <legend>Seller Form</legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectsub">Select Book</label>
            <div class="col-md-4">
                <select id="selectsub" name="selectsub" class="form-control">
                    {{#each books}}

                        <option value={{index}}>{{name}}</option>

                    {{/each}}
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comment">Description</label>
            <div class="col-md-4">
                <input id="comment" name="comment" type="text" placeholder="not more than 100 words" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expPrice">Expected Rate</label>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Rs.</span>
                    <input id="expPrice" name="expPrice" class="form-control" placeholder="in multiples of 10" type="text" required="">
                </div>

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="mobile">Mobile Number</label>
            <div class="col-md-4">
                <input id="mobile" name="mobile" type="text" placeholder="10 digits" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>


    </fieldset>
</form>





<div  id="success">

</div>

<script >


    document.getElementById('sellerform').addEventListener('submit', performPostRequest);

    function performPostRequest(e) {

        var bookName = $('#selectsub option:selected').text();
       alert('sdg');
        axios.post('http://localhost:3000/books/'+bookName+'/sellers', {
            mobile : document.getElementById('mobile').value,
            expPrice : document.getElementById('expPrice').value,
            comment : document.getElementById('comment').value
        })
                .then(function (response) {
                    document.getElementById("success").innerHTML= '<div class="alert alert-success"><b>Success !!!</b></div>';
                    alert('success'+response);
                })
                .catch(function (error) {
                    document.getElementById("success").innerHTML = '<div class="alert alert-danger">Failure !!! </div>';

                });

        e.preventDefault();
    }

</script>

