


    <!--Main layout-->
    <div class="container">

           <div class="row">
               {{> repeater this}}
           </div>

    </div>
    <!--/.Main layout-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js">
</script>
<script>
    //load common code
    require(['common','books'], function (common, books) {
        // load application code for page
        books.init();
    });
</script>

