

<!--Main layout-->
    <div class="container" id="content">
        <ul class="nav nav-pills">
            <li class="active"><a href="?type=CSE" onclick="getBooks(e)">CSE</a></li>
            <li><a href="?type=ECE"  onclick="getBooks(e)">ECE</a></li>
            <li><a href="?type=CSE&ECE" onclick="getBooks(e)">CSE & ECE</a></li>
        </ul>

           <div class="row" id="row">
               {{> repeater this}}

           </div>
           <div class="row">
               <a id="loadmore" class="btn btn-block btn-primary" role="button" >Load More</a>

           </div>


    </div>

<script>

    var count = 6 ;
    var row = getElementById('row');
    document.getElementById('loadmore').addEventListener('click', performGetRequest);
    function performGetRequest(e) {

          count += 6 ;
          document.getElementById('loadmore').href = "?count="+count;

          fetch('http://localhost:3000/books?count='+count)
                .then(function(response) {
                   return response.json();
                })
                  .then(function(data) {
                      row.append(data.docs);
                  })
                .catch(function (error) {
                   console.log(error);
                });



        e.preventDefault();

    }

</script>

