<div class="content">


    <section class="bg-success text-white">
        <div class="animated slideInDown container text-center">
            <img src="http://vbu.ac.in/wp-content/uploads/2015/08/books-2.png" width="300px" height="200px">
            <h1 style="font-family: 'Courier 10 Pitch'"><b>WELCOME TO BOOKSELLER</b></h1>
            <p class="lead" style="font-family: 'DejaVu Sans'">A market of Books and Tools. </p>
        </div>
    </section>

    <section id="services" style="animation-delay: 1s;animation-duration: 1s" class="animated pulse bg-light">
        <div class="container">
            <div style="color: #5e5e5e" class="row text-center">
                <div class="col-md-3">
                    <img src="https://png.icons8.com/process/ultraviolet/100" title="Process" width="100" height="80"><p><strong>Easy to Use</strong></p>
                </div>
                <div class="col-md-3">
                    <img src="https://png.icons8.com/rupee/dusk/80" title="Rupee" width="80" height="80">
                    <p><strong>Free Service</strong></p>
                </div>
                <div class="col-md-3">
                    <img src="https://png.icons8.com/new-contact/dusk/80" title="New Contact" width="80" height="80">
                    <p><strong>Contact Easily</strong></p>
                </div>
                <div class="col-md-3">
                    <img src="https://png.icons8.com/user-shield/dusk/80" title="User Shield" width="80" height="80">
                    <p><strong>Secured</strong></p>
                </div>
            </div>
        </div>
    </section>
<hr class="divider">
    <section class="text-center bg-faded" id="contact">
        <div class="container">
            <div style="color: #5e5e5e" class="row">
                <h1 style="font-family: 'Courier 10 Pitch'" class="animated rubberBand"><b>HOW IT WORKS...</b></h1><br>
                <div class="col-md-4">
                    <h2><b>Easy Login with Facebook</b><br><a href="/auth/facebook"><img src="https://png.icons8.com/facebook/dusk/64" title="Facebook" width="64" height="64"></a>
                   </h2>
                </div>
                <div class="col-md-4">
                    <h2><b>Buy and Sell at your own price.</b><br><img src="https://png.icons8.com/us-dollar/ultraviolet/64" title="US Dollar" width="64" height="64"></h2>

                </div>
                <div class="col-md-4">
                    <h2><b>Share with your <br>friends</b><br><img src="https://png.icons8.com/friends/color/64" title="Friends" width="64" height="64"> </h2>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider">

</div>
<script>
    require(['common'], function (common) {
        // load application code for page
        require(['index'], function(index) {
            index.init();
            index.secondInit();
        });
    });
</script>
