<div class="content">

    <center >
        <h2 >Hover over the pic to see animation</h2>
    </center>
    <h1></h1>
    <div class="container">
        <div class="main">

            <div class="box">

                <img src="http://www.planwallpaper.com/static/images/Eiffel-Tower-lanscape-Wallpaper-HD.jpg" />

                <a class="more" href="#name">More reading</a>


            </div>
            <div class="box">
                <img src="http://www.planwallpaper.com/static/images/colorful-easter-eggs-holiday-hd-wallpaper-1920x1200-10811.jpg" />

                <a href="#">More reading</a>
            </div>

            <div class="box">
                <img src="http://www.planwallpaper.com/static/images/HD-Wallpapers1_FOSmVKg.jpeg" />

                <a href="#">More reading</a>
            </div>

            <div class="box">
                <img src="http://www.planwallpaper.com/static/images/79438-blue-world-map_nJEOoUQ.jpg" />

                <a href="#">More reading</a>
            </div>

            <div class="box">
                <img src="http://www.planwallpaper.com/static/images/6768666-1080p-wallpapers.jpg" />

                <a href="#">More reading</a>
            </div>

            <div class="box">
                <img src="http://www.planwallpaper.com/static/images/6768666-1080p-wallpapers.jpg" />

                <a href="#">More reading</a>
            </div>
        </div>
    </div>
</div>

