<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4c94">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4c94">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ff4c94">
    <title>{{title}}</title>
    <link rel="icon" href="../../favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" >

    <link href="https://file.myfontastic.com/jYrx4AxBFXV3KwW9pUNtHc/icons.css" rel="stylesheet">

    <link rel='stylesheet' href='/css/main.min.css' />
    {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/444e49f463.css"> --}}

    <!--This sets the baseUrl to the "scripts" directory, and
    loads a script that will have a module ID of 'main'-->
    <!--For production
    <script src="/javascripts/require.js" data-main="/javascripts/js-built/common"></script>
    -->
    <!--For Development -->
<<<<<<< HEAD
        <script src="javascripts/require.js" data-main="javascripts/common"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

=======
    <script src="javascripts/require.js" data-main="javascripts/common"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
>>>>>>> card
    <script src="https://use.fontawesome.com/444e49f463.js"></script>
</head>
<body>
{{> header}}

{{{body}}}

{{> footer}}
<!-- Placed at the end of the document so the pages load faster -->
<script>

</script>
</body>
</html>

