<div class="container">
    <div class="row well well-lg">
        <div class="col-md-2">
            {{#if this.user.picture}}
                <img class="circle-image" src="{{this.user.picture}}" >
            {{else}}
                <div id="defaultimg" >
                    {{#with this.user}}
                    {{/with}}
                </div>
            {{/if}}
        </div>
        <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>{{this.user.name}}</b>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{#each books}}
                   {{this.name}}
                {{/each}}
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>


</div>
<script>
    window.onload =  function () {
       sweetAlert("Welcome","To BookSeller","success");
    };
</script>