<form id="bookform" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Book Adder</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Book Name">Book Name</label>
            <div class="col-md-4">
                <input id="BookName" name="Book Name" type="text" placeholder="Book Name" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Stream</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="radios-0">
                        <input type="radio" name="radios" id="radios-0" value="CSE" checked="checked">
                        CSE
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-1">
                        <input type="radio" name="radios" id="radios-1" value="ECE">
                        ECE
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-2">
                        <input type="radio" name="radios" id="radios-2" value="CSE&ECE">
                        CSE&amp;ECE
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-3">
                        <input type="radio" name="radios" id="radios-3" value="Other">
                        Others
                    </label>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textarea">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" id="textdesc" name="textarea">Description</textarea>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
            <div class="col-md-4">
                <button id="sub" name="singlebutton" class="btn btn-primary" type="submit">Button</button>
            </div>
        </div>
    </fieldset>
</form>


<div  id="success">

</div>
<script >
    document.getElementById('bookform').addEventListener('submit', performPostRequest);
    function performPostRequest(e) {


        axios.post('http://localhost:8080/books', {
            name : document.getElementById('BookName').value,
            type : document.getElementById('bookform').elements["radios"].value,
            description : document.getElementById('textdesc').value
        })
                .then(function (response) {
                   // document.getElementById("success").innerHTML= '<div class="alert alert-success"><b>Success !!!</b></div>';

                    console.log(response);
                })
                .catch(function (error) {
                    document.getElementById("success").innerHTML = '<div class="alert alert-danger">Failure !!! </div>';

                });

        e.preventDefault();
    }

</script>
