<form id="bookform" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend class="text-center text-capitalize"><h2><b>New Book Form</b></h2></legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Book Name"><h4><b>Book Name</b></h4></label>
            <div class="col-md-4">
                <input id="BookName" name="Book Name" type="text" placeholder="Book Name" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios"><h4><b>Stream</b></h4></label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="radios-0">
                        <h5><input type="radio" name="radios" id="radios-0" value="CSE" checked="checked"><b>CSE</b></h5>
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-1">
                        <h5><input type="radio" name="radios" id="radios-0" value="ECE" checked="checked"><b>ECE</b></h5>
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-2">
                        <h5><input type="radio" name="radios" id="radios-0" value="CSE&ECE" checked="checked"><b>CSE&ECE</b></h5>

                    </label>
                </div>
                <div class="radio">
                    <label for="radios-3">
                        <h5><input type="radio" name="radios" id="radios-0" value="Others" checked="checked"><b>Others</b></h5>

                    </label>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textarea"><h4><b>Description</b></h4></label>
            <div class="col-md-4">
                <textarea class="form-control" id="textdesc" name="textarea"></textarea>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <div class="col-md-4">
                <button id="sub" name="singlebutton" class="btn btn-success text-center" type="submit">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
<script >
    document.getElementById('bookform').addEventListener('submit', performPostRequest);
    function performPostRequest(e) {


        axios.post('http://localhost:8080/books', {
            name : document.getElementById('BookName').value,
            type : document.getElementById('bookform').elements["radios"].value,
            description : document.getElementById('textdesc').value
        })
                .then(function (response) {
                   sweetAlert("Yeah...","Book Added !!!",'success');
                    console.log(response);
                })
                .catch(function (error) {
                    sweetAlert("Oops...","Server Down !!!",'error');
                });

        e.preventDefault();
    }

</script>
